[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
psycopg2 = "*"
flask-restful = "*"
httpie = "*"
flask-httpauth = "*"
passlib = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.8"
